<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Aquaponie</title>
</head>
<body>

<h1 style="text-align:center;">Projet aquaponie</h1>
<p>Utilise 90% moins d’eau</p>
</p>Pas de pesticides utilisés</p>
</p>Pas d’engrais azotés utilisés</p>
</p>Utilise très peu d’énergie</p>
</p>S’installe en ville ou dans les lieux limités en espace</p>
</p>Permet une production en continu</p>

<h2>Mesures</h2>

<ol>
  <li>Température</li>
  <li>Humidité</li>
  <li>lumière</li>
    <li>pH</li>
    <li>niveau d'eau</li>
</ol>

</body>
</html>
